
$search-height--desktop: 74px;
$search-height--mobile: 70px;

.mct .search {
  background-color: $white;
  width: 100%;

  &--desktop {
    @include up-to(960px) {
      display: none;
    }

    .search__container {
      @include container;
      border-top: solid 1px transparentize($ot-steel, 0.5);
      height: $search-height--desktop;
    }

    .search__icon {
      margin-right: 16px;
    }

    .search__field {
      flex-grow: 1;
      margin-right: 16px;

      .input--error {
        outline: 0;
        border: solid 1px $new-ot-red;
      }
    }

    .theme--light.v-icon {
      width: 30px;
      height: 30px;
      font-size: 30px;
      color: $ot-steel-dark;
    }

    .v-btn.v-btn {
      width: 176px;
      height: 49px;
      box-shadow: none;
    }

    .search__focus {
      -webkit-animation-name: focus;
      -webkit-animation-duration: 500ms;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-in-out;
    }
  }

  &--mobile {
    display: none;

    @include up-to(960px) {
      display: block;
    }

    .search__container {
      @include container;
      border-top: solid 1px transparentize($ot-steel, 0.5);
      height: $search-height--mobile;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .search__button {
      &__icon .theme--light.v-icon {
        font-size: 26px;
        color: $ot-indigo;
        margin-right: 10px;
      }

      &__title {
        font-size: 16px;
        color: $ot-indigo;
      }
    }
  }

  @-webkit-keyframes focus {
    0% {
      background-color: $ot-cloud;
      opacity: 0.1;
    }

    50% {
      background-color: $ot-cloud;
      opacity: 0.5;
    }

    88% {
      background-color: $ot-cloud;
      opacity: 0.8;
    }

    100% {
      background-color: inherit;
      opacity: 1;
    }
  }
}

