
/* colors */
$ot-indigo: #2e3d98;
$ot-purple: #4f3690;
$ot-navy: #111b58;
$ot-steel: #7e929f;
$ot-steel-dark: #495b67;
$white: #ffffff;
$new-ot-blue: #2a40c3;
$ot-bright-blue-new: #00bdef;
$ot-cloud: #e1e8f6;
$new-ot-red: #eb011b;
$page-background: #eeeeee;
/* /colors */

/* sizes */
$base-content-width: 1110px;
/* /sizes */
