
.mct .compliance-details {

  &__title-main {
    font-size: 14px;
    color: $ot-navy;
  }

  &-container {
    display: flex;
    margin-top: 8px;
    margin-bottom: -40px;
    align-content: stretch;
    min-height: calc(100vh - 415px);

    &__list {
      width: 302px;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: calc(100% - 334px);
      margin-left: 32px;
      background: #eee;
      padding: 40px 40px 0 40px;
      box-sizing: border-box;
    }
  }

  .compliance-totals {

    &__title {
      @include Level-X-Left;
      margin-bottom: 5px;
    }
  }

  &-item {
    width: calc(50% - 24px);
    margin-bottom: 60px;

    &__document {
      display: flex;
      justify-content: flex-start;
      background: #fff;
      padding: 28px 0px 27px 24px;

      &__icon {
        height: 44px;
        width: auto;
        margin-right: 16px;
      }

      &__title {
        @include Body-p-light;
        margin: 3px 0 4px;
      }

      &__link {
        display: block;
        text-decoration: none;
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        cursor: pointer;

        &__text {
          @include Body-small-link;
        }

        .v-icon.v-icon {
          margin-left: 6px;
          margin-bottom: 2px;
          height: 12px;
          width: 12px;
          font-size: 12px;
          color: $new-ot-blue;
        }
      }
    }

    &__chips {
      margin-top: 16px;
      margin-left: -8px;

      .v-chip {
        margin-left: 8px;
      }
    }
  }

  .compliance-notes {
    width: 100%;
    background: #fff;
    padding: 28px 40px 0px 40px;

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 43px;

      &__back {
        font-size: 14px;
        color: $new-ot-blue;
        font-weight: 500;
        cursor: pointer;
      }
    }

    &__title {
      @include Level-2-Left-Bright;
    }

    &__item {
      @include Body-p-default;
      box-sizing: border-box;
      padding: 24px 0;
      border-bottom: 2px solid #eee;
    }
  }
}

@media screen and (max-width : 1300px) {

  .mct .compliance-details {
    &-item {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width : 1024px) {

  .mct .compliance-details {
    &-container {
      flex-direction: column;

      &__list {
        width: 100%;
      }

      &__content {
        width: calc(100% + 32px);
        margin: 20px -16px 0;
        padding: 10px;
      }
    }
  }
}

@media screen and (max-width : 480px) {

  .mct .compliance-details {

    .compliance-notes {
      padding: 14px 15px 0px 15px;;
    }
  }
}
